# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Publish output
wwwroot/dist/