@inherits LayoutComponentBase
@using EventEaseApp2.Services

@inject UserSessionService Session

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if (Session.IsLoggedIn)
            {
                <p class="welcome">Welcome, @Session.UserName!</p>
            }

            @Body
        </article>
    </main>
</div>